<!DOCTYPE html>

<html>
<head>
    <title>Help Page</title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This website can be used to get weather details</p>
        <p>Contact creator : {{name}}</p>
    </div>
    {{>footer}}
</body>

</html>