<!DOCTYPE html>

<html>
<head>
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2>Use this page to get weather</h2> 
        <form>
            <input placeholder="Enter Location">
            <button>Search</button>
        </form>

        <p id="message1"></p>
        <p id="message2"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>